@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.animate__slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
.animate__slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}
.animate__animated {
  animation-delay: 0ms;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.animate__fadeInUp {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.dn-settings-form-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.dn-settings-form-wrapper .dn-node-path {
  flex-grow: 0;
}
.dn-settings-form-wrapper .dn-settings-form-content {
  flex-grow: 1;
  overflow: overlay;
}
.dn-settings-form-wrapper .formily-element-plus-form-item-label-content {
  overflow: visible;
}
.dn-settings-form-wrapper .formily-element-plus-form-item {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.dn-settings-form-wrapper .formily-element-plus-form-item * {
  font-size: 13px;
}
.dn-settings-form-wrapper .formily-element-plus-form-item .el-radio-button__inner {
  padding: 8px !important;
}
.dn-settings-form-wrapper .formily-element-plus-form-item .formily-element-plus-form-item-control-content-component {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dn-settings-form-wrapper .formily-element-plus-form-item .formily-element-plus-form-item-control-content-component > .el-radio-group {
  display: flex !important;
  height: 100%;
}
.dn-settings-form-wrapper .formily-element-plus-form-item .formily-element-plus-form-item-control-content-component > .el-radio-group .el-radio-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.dn-settings-form-wrapper .formily-element-plus-form-item .formily-element-plus-form-item-control-content-component > .el-radio-group .el-radio-button__inner {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 6px !important;
}
.dn-settings-form-wrapper .formily-element-plus-form-item .formily-element-plus-form-item-control-content-component > .el-slider {
  flex-shrink: 0;
  min-width: 0;
  width: 100%;
}
.dn-settings-form {
  padding: 0 20px;
}
.dn-settings-form-empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: #888;
}
.dn-poly-input {
  display: flex;
  width: 100%;
  align-items: center;
}
.dn-poly-input .dn-poly-input-content {
  flex-grow: 2;
  margin-right: 2px;
  display: flex;
}
.dn-poly-input .dn-poly-input-content .el-button {
  flex: 1;
}
.dn-poly-input .dn-poly-input-content .el-select {
  width: 100%;
}
.dn-poly-input .dn-poly-input-content .el-input-number {
  width: 100%;
}
.dn-poly-input .dn-poly-input-content .el-input-number .el-input__inner {
  padding: 0 11px;
  text-align: left;
}
.dn-poly-input .dn-poly-input-controller {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}
